<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetshopBusiness</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Layouts/LayoutLogin.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<script src="https://use.fontawesome.com/8c5b6d7b51.js"></script>*@
</head>
<body>
    <header class="layoutlogin-header">
        <section class="header-logo">
            <a href="@(Url.Action("Index", "Home"))">
                <div>
                    <img src="~/images/Layout/logo_petshop_blue.png" class="logo-petshot" />
                </div>
            </a>
        </section>
    </header>

    <div @*class="container"*@>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div>
            <img src="~/images/Login/login-pets.png" class="footer-login-img" />
        </div>
            @*<div class="container">
                &copy; 2021 - PetshopBusiness - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
