.layoutlogin-header {

}

.header-logo {
    height: 100px;
    width: 100%;
    background-color: #00a3b4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-petshot {
    width: 100px;
    height: 100px;
}

.footer-login-img {
    width: 100%;
}